<h1 class="text-3xl">Sobre la aplicación</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus arcu
    nec sapien aliquet rhoncus. Sed accumsan dolor quis malesuada congue. Proin
    ut fringilla mi, id placerat sem. Pellentesque sollicitudin augue dui, id
    vestibulum nibh feugiat eget. Aliquam tempor neque turpis, porta tincidunt
    tortor accumsan non. Nam ut euismod velit. Nunc velit odio, imperdiet ut
    quam id, condimentum rhoncus est.
  </p>
</section>
